<h1 class="animated fadeIn fast">Sobre APP COMIC</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis eos aut eaque libero. Quo similique iste, nulla at, animi repudiandae eaque tenetur modi repellat ratione deserunt et, laborum vitae dignissimos?
</p>