<div class="card animated fadeIn fast">
    <img [src]="heroe.img" class="card-img-top img-fluid" [alt]="heroe.nombre">
    <div class="card-body">
        <h5 class="card-title">{{ heroe.nombre }}</h5>
        <p class="card-text">{{ heroe.bio }}</p>
        <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>

        <!-- funciona con evento sin usar routerlink-->
        <button (click)='verHeroe()' type="button" class="btn btn-outline-primary btn-block">
        Ver más
      </button>

        <!-- funciona sin evento usando routerlink-->
        <!-- <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary">Ver mas Link...</a> -->
    </div>
</div>