<h1 class="animated fadeIn">Resultado de la busqueda con: <small> {{ termino | uppercase }} </small></h1>
<hr>

<div class="row animated fadeIn fast" *ngIf="heroes.length<=0">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            No se encontraron coincidencias con el termino: {{ termino }}
        </div>
    </div>
</div>

<!-- <div *ngFor="let heroe of heroes; let i = index" class="row animated fadeIn fast">
    <div class="col-md-4">
        <img [src]="heroe.img" class="img-fluid" [alt]="heroe.nombre">
        <br><br>
        <a [routerLink]="['/heroe',i]" class="btn btn-outline-danger btn-block">Ver más</a>
    </div>

    <div class="col-md-8">
        <h3>{{ heroe.nombre }}</h3>
        <hr>
        <p> {{ heroe.bio }} </p>
        <div>
            <img class="img-logo" src="assets/img/{{heroe.casa}}.png" [alt]="heroe.casa">
        </div>
    </div>
</div> -->

<div class="card-columns">

    <!-- *ngFor="let heroe of heroes; let i = index" -->
    <!-- <app-heroe-tarjeta [heroe]="heroe" [indice]="i" *ngFor="let heroe of heroes; let i = index"></app-heroe-tarjeta> -->
    <app-heroe-tarjeta [heroe]="heroe" [indice]="heroe.indice" *ngFor="let heroe of heroes"></app-heroe-tarjeta>

</div>